* {
    box-sizing: border-box;
    /*Modifica a maneira de exibir o tamanho de uma caixa,
     define como as dimensões de um elemento são calculadas:
      devem inculir preenchimento de bordas ou não */
}

body{
    background-image: url("../imagens/Fundo.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.cabecalho {
    padding: 15px;
    text-align: center;
    background-color: rgba(173, 0, 0, 0.541);
    border-radius: 10px;
}

.principal h2 {
    color: rgb(206, 0, 0);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.849);
    padding:10px;
    display: inline-block;
    border-radius: 10px;
}

.topnav {

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: beige;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
.topnav a:hover {
    background-color: rgba(0, 0, 0, 0.432);
    color: rgb(255, 0, 0);
    border-bottom: solid 1px rgb(255, 0, 0);
    border-radius: 15px;
}

.colEsq{
    text-align: center;
    float: left;
    width: 100%;
}

.imagens {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.card {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 20px;
    margin-top: 20px;
}

.principal:after {
    
    content: "";
    display: table;
    clear: both;
}

.imagens img{
width:100%;
}

@media screen and (max-width: 800px){
    .colEsq,
    .colDir{
        width: 100%;
        padding: 0;
    }
}