@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-image: url("img/fundo2.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.cabecalho {
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.87);
    color: rgb(216, 3, 3);
}

.cabecalho h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgba(5, 0, 0, 0.726);
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: beige;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.topnav a:hover {
    background-color: rgba(0, 0, 0, 0.384);
    color: rgb(235, 8, 8);
    border-bottom: solid 1px;
    border-radius: 15px;
}

.colEsq {
    float: left;
    width: 100%;
}

.colDir {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-left: 20px;
}

.img {
    width: 100%;
    padding: 20px;
}

.card {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 20px;
}

.principal:after {
    content: "";
    display: table;
    clear: both;
}

*.footer {
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
}

* .imagens img {
    width: 100%;
}

h3 {
    padding: 15px;
    text-align: center;
    color: rgb(216, 3, 3);
}

img {
    background-color: rgb(0, 0, 0);
    padding: 3px;
}

.galery-container {
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    padding: 50px 0;
}

.filho {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 20px 20px;
}

.galery-container h2 {
    font-size: 4vw;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.galery-container .neto a {
    padding: 10px;
}

.galery-container .neto {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.galery-container .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.galery-container .image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    border-radius: 10px;
}

.galery-container .image:hover img {
    background-color: rgba(224, 14, 14, 0.918);
    transform: scale(1.04);
}

@media screen and (max-width: 800px) {

    .colEsq,
    .colDir {
        width: 100%;
        padding: 0;
    }
}