*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.cabecalho{
    padding: 30px;
    text-align: center;
    background-color: rgb(231, 7, 7);
}
.card
{
    background-color: rgb(231, 7, 7);
    padding: 20px;
    margin-top: 20px;
}
.colEsq
{
    float: left;
    width: 82%
}
.colDir
{
    float: left;
    width: 18%;
    background-color: black;
    padding-left: 20px;
}
.imagens
{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.imagens img
{
    width: 100%
}